<div class="row pt-4">
  <div class="col-md-4">
    <div class="alert alert-primary" role="alert">
      Будь ласка, виберіть фотографію на своєму пристрої яку ви хочете
      проаналізувати
    </div>
    <div class="alert alert-warning" role="alert">
      Увага! Сервер приймає для аналізу зображення тільки в таких форматах: png,
      jpg
    </div>
  </div>
  <div class="col-md-8">
    <div class="alert alert-primary" role="alert">
      Будь ласка, завантажте фотографію яку ви хочете проаналізувати
    </div>
  </div>
</div>
